/*
 font-family: 'Maven Pro', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Sriracha', cursive; 
*/
html {
  scroll-behavior: smooth;
  font-family: 'Maven Pro', sans-serif; 
  background-color:#57BB6B;
}

body {
  max-width: 380px;
  margin: auto;
  background-color: white;
}

header {
  background-image: url("../img/fruits_exotiques.webp");
  padding: 30px;
  margin-top: 8px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container { 
  padding: 35px 55px;
  background: #ffffffdd;
  margin: 0 0 35px;
}

.text {
  padding:10px 0 0 0;
  text-align: center;
  margin: 0;
  font-family: 'Quattrocento', serif;
  color: #57BB6B;
  font-size: 20px;
}

nav {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button {
  background-color: #57BB6B;
  color: white;
  text-align: center;
  padding: 10px 5px;
  margin: 0 39px 10px;
  border-radius: 17px;
  font-weight: 100;
  font-size: 20px;
}

.button-light {
  color:#57BB6B;
  background-color: white;
  margin: 0 78px 10px;
}

.button-light:hover {
  background-color: #57BB6B;
  color: white;
}

.card {
  font-family: 'Quattrocento', serif;
  padding: 20px 39px;
  margin: 30px;
  font-size: 16px;
  text-align: center;
}
.title {
  font-family: 'Maven Pro', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

span {
  font-family: 'Quattrocento', serif;
  font-weight: 800;
}

.fruit-line {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 40px 0;
}

.products {
  background-color: #57BB6B;
  color: white;
}

h3 {
 font-size: 26px;
 font-family: 'Maven Pro', sans-serif;
 font-weight: 600;
 padding-top: 20px;
}

h2 {
  font-size: 30px;
  font-family: 'Sriracha', cursive; 
  font-weight: 400;
  color: black;
}

.recipe {
  border-radius: 20px;
  text-align: left;
  margin: 0 25px 30px;
  padding: 10px 37px 20px;
  font-size: 16px;
  font-family: 'Quattrocento', serif;
  color: rgba(0, 0, 0, 0.507);
  width: auto; 
}

.recipe-banana {
  background-color: #FFF8D7;
}

.recipe-kiwi {
  background-color: #C4F2AD;
}

.recipe-coffee {
  background-color: #D3C6B2;
}

.recipe-strawberry {
  background-color: #F7A4B4;
}

.footer-recipe {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.footer{
  color:#57BB6B;
  font-size: 12px;
}

a {
  color: black;
  font: 14px;
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
}

.contacts {
  color:#57BB6B;
}
